<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.crm"
        versionCode="10" 
        version   = "1.26">

    <!-- versionCode is optional and Android only -->

    <name>crdfm</name>
    <icon src="images/icon.png" gap:platform="android" gap:density="ldpi" width="57" height="57"/>
    <gap:splash src="images/splash.jpg" gap:platform="android" gap:density="ldpi" />
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="PageLength" value="0"/>

    <preference name="LoadingDialog" value="Carganado Aplicación."/>
    <preference name="KeepRunning" value="true"/>


    <description>
        App para radio coomuldesa.
    </description>

    <author href="http:www.imagineriaweb.com/oaguillon" email="aguillonsilva@gmail.com">
        @oaguillon
    </author>

</widget>